@use 'variaveis';

.event {
    padding: 80px 0;
    
    .container {
        display: flex;
        gap: 40px;
    }

    &__details {
        &__title {
            font-size: 18px;
            line-height: bold;
            margin-bottom: 16px;
        }
        
        &__description {
            line-height: 22px;
        }
    }

    &__image {
        max-width: 360px;
        border-radius: 10px;
        
    }

    &--dj1 {
        background-image: linear-gradient(variaveis.$gradient1,variaveis.$gradient2);
    }

    &--dj2 {
        background-image: linear-gradient(variaveis.$gradient2,variaveis.$gradient3);
    }

    &--dj3 {
        background-image: linear-gradient(variaveis.$gradient3,variaveis.$gradient4);
    }

    &--dj4 {
        background-image: linear-gradient(variaveis.$gradient4,variaveis.$gradient3);
    }

    &--left {
        .container{
            flex-direction: row-reverse;
        }
    }

    @media (max-width: variaveis.$mobile) {
        .container {
            display: block;
            max-width: 90%;
        }

        &__details {
            margin-right: 0;
            margin-bottom: 16px;
        }

        &__image {
            width: 100%;
        }
    }

}