$corDoTexto: #2f3640;
$corDoTextoSecundaria: #fff;

$buttonColor: #78e08f;
$buttonColorHover: #b8e994;

$gradient1: #74b9ff;
$gradient2: #00b894;
$gradient3: #6c5ce7;
$gradient4: #fd79a8;




$tablet: 1024px;
$mobile: 640px;